* {
  font-family: "Poppins";
}

body {
  margin-bottom: 20;
}

html {
  background: #000000;
  color: white;
}

header {
  display: flex;
  justify-content: flex-start;
  height: 70px;
  gap: 15px;
  align-items: center;
  padding: 0px 80px;
  background: #c6610f;
}

button {
  height: 44px;
  font-size: 22px;
  padding: 0px 12px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid  #c6610f;
  border-radius: 3px;
  min-width: 125px;
}

button:hover {
  background-color: #c6610f;
  color: #ffffff;
  cursor: pointer;
}

.page {
  width: calc(100vw - 520px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.btn-container {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin: 30px;
}

.movie-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  
}

.movie-card img {
  width: 100%;
}
main {
  display: flex;
  flex-direction: row;
}

.watchlist {
  width: 500px;
  height: calc(100vh - 70px);
  overflow-y: scroll;
  position: static;
  top: 70px;
  right: 0;
  text-align: center;
  background-color: rgb(35, 30, 30);
}
